#Ignore:
/bootstrap/compiled.php
/vendor
/public/packages
composer.phar
composer.lock
/app/config/sendGridConfig.php
/app/config/defaultMailConfig.php
.DS_Store
/node_modules
/app/assets/node_modules
/app/assets/node_modules
/app/assets/node_modules
/app/assets/node_modules
/app/assets/node_modules
/app/assets/node_modules
/app/assets/node_modules
/app/assets/node_modules